
/* Here we are styling the body */

/*Makes it so that tif the browser is resized to 
a viewport smaller than 855 px, the remainder part of the page will be hidden from view */
header, main, footer { min-width: 855px;}

header .container, main  .container, footer  .container {
    max-width: 855px;
    margin: auto;
}

body {
    background: #f9e933;
    width: 855px;
    margin: auto;
   }
   header {
       background: white;
       overflow: auto;
       font-family: "Ubuntu", sans-serif;
   }
   main {
       background: white;
   }
   /* The code below is for stilying the first heading */
   header h1 {
    color: maroon;
    float: left;
    text-align: center;
    width: 570px;
    font-family: "Ubuntu", sans-serif;
   }
    header h2 {
        font-family: "Ubuntu", sans-serif;
    }

    header h3 {
        font-family: "Ubuntu", sans-serif;
    }
    header h4 {
        font-family: "Ubuntu", sans-serif;
    }
   }
   p {t
    color: gray;
    border: 1px solid gray;
    padding: 1px;
   }

   header nav {
       float: right;
       width: 285px;
   }
   div{
       border: 5px solid maroon:
       text-align: center;
       padding: 5px;
   }
   ul.first  {
    float: right;
   }

   