
/* Here we are styling the body */

/*Makes it so that tif the browser is resized to 
a viewport smaller than 855 px, the remainder part of the page will be hidden from view */
header, main, footer { min-width: 855px;}

body {
    background: #f9e933;
    width: 800px;
    margin: auto;
   }
   header {
       background: white;
   }
   main {
       background: white;
   }
   /* The code below is for stilying the first heading */
   h1 {
    color: maroon;
    text-align: center;
   }
   p {t
    color: gray;
    border: 1px solid gray;
    padding: 1px;
   }

   div{
       border: 5px solid maroon:
       text-align: center;
       padding: 5px;
   }

   