h1 {
    background: black;
    color: white;
    width: 800px;
    float: right;
    font-family: "Denk One", sans-serif ;
   }
   p.first {
    color: red;
    margin: 10px;
    padding: 20px;
    width: 200px;
   }

   p.second{
       color: cadetblue;
       margin: 40px;
       padding: 10px;


   }

   